/* Con esto puedo establecer colores como variables */
/* y usarlos en propiedades para que cualquier cambio deba realizarse unicamente en esta seccion */
/* en lugar de tener que buscar y modificar cada propiedad que los utilice, una por una*/
/* También puede hacerse con otros valores, como tamaños, fuentes, etc */
:root {
  --blueFondo: #d0e3ec;
  --blueAcento: #677eb6;
  --blueFuerte: #3e4c70;
  --greyOperacion: rgb(239, 239, 239);
  --greyBotonHover: rgb(212, 212, 212);
  --greenBoton: #61ff6c;
  --greenBotonHover: #24a33d;
}


/* Estructura general */
body {
  margin: 0;
  width: 100vw;
  background-color: var(--blueFondo);
  font-family: sans-serif;
  overflow: hidden;
}

.container {
  display: grid;
  height: 100vh;

  grid-template-rows: auto auto 1fr;
}


/* Bienvenida al usuario */
header {
  margin-top: 30px;
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: solid 20px var(--blueAcento);
}

header h1 {
  font-size: 3.5rem;
  margin: 25px 0;
}

header h2 {
  margin: 0;
}

.esquinas-header {
  width: 15vw;
  text-align: center;
}

.header-img {
  width: 45px;
}


/* instrucciones generales */
.instrucciones {
  text-align: center;
  padding-top: 4vh;
}

.instrucciones p {
  font-size: 2rem
}


/* operaciones disponibles al usuario */
main {
  display: flex;
  justify-content: space-between;
  margin: 5vh 0;
}

.left-container {
  display: flex;
  flex-direction: column;
  width: 25vw;
}

.right-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 25vw;
}

.boton-operacion {
  min-width: 40%;
  width: 80%;
  height: 15%;

  margin: 40px 30px;
  padding: 0;

  box-shadow: 0 4px 2px -2px gray;
  border: solid 1px gray;
  border-radius: 6px;

  font-size: 1.5rem;

}

.boton-operacion:hover {
  background-color: var(--greyBotonHover);
}


/* ventana para operacion en curso */
#operacion-en-curso {
  position: fixed;
  top: 60%;
  left: 50%;
  transform: translate(-48%, -45%);

  height: 60vh;
  width: 45vw;

  background-color: var(--greyOperacion);
  box-shadow: 0 4px 2px -2px gray;
  border: solid 1px gray;
  border-radius: 6px;

}

#nombre-operacion {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  color: var(--blueFuerte);
}

#instrucciones-operacion {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  font-size: 1.7rem;
  color: var(--blueFuerte)
}

.div-confirmar {
  display: flex;
  justify-content: space-around;
}

.boton-confirmar {
  min-width: 40%;
  width: 40%;
  height: 15%;

  margin: 0 auto;
  padding: 0;

  box-shadow: 0 4px 2px -2px gray;
  border: solid 1px gray;
  border-radius: 6px;

  font-size: 1.5rem;
}

.boton-confirmar:hover {
  background-color: var(--blueFondo);
}

/* utility */
.hide {
  display: none;
}

.center-text {
  text-align: center;
}

/* --------------------------->codigo Yann<--------------------------------- */

#div-body {
    background-color: var(--blueFondo);
    height:100vh;
    width: 100vw;
    margin:0;
    padding:0;
    display:flex;
    flex-direction: column;
    /* acomoda los elementos en el eje x  */
    justify-content: center;
    /* acomoda los elementos en el eje y  */
    align-items: center;
    position: fixed;
}




#contenedorPrincipal {
    margin-top:1%;
    border: 2px solid;
    height: 90vh;
    width: 90vw;
    display: flex;
    /* hace mis elementos en columna  */
    flex-direction: column;
    /* acomoda los elementos en el eje x  */
    justify-content: space-around;
    /* acomoda los elementos en el eje y  */
    align-items: center;
}

#titleText {
    color: white;
    background: var(--blueFondo);
    text-shadow: -5px 5px 0px #00e6e6, -10px 10px 0px #01cccc, -15px 15px 0px #00bdbd;
    color: white;
    background: var(--blueFondo);
    font-size: 80px;
    font-family: Arial, Helvetica;
}


.inputs {
    display: flex;
    flex-direction: column;
    /* acomoda los elementos en el eje x  */
    justify-content: center;
    /* acomoda los elementos en el eje y  */
    align-items: center;
    font-family: Arial;
    font-size: 2rem;
}

.button {
    font-family: Arial;
    font-weight: bold;
    color: black;
    font-size: 20px;
    padding: 10px;
    text-decoration: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 1px 3px #666666;
    -moz-box-shadow: 0px 1px 3px #666666;
    box-shadow: 0px 1px 3px #666666;
    background: var(--greenBoton);
}

.button:hover {
  background: var(--greenBotonHover);
}
